<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="con1" class="com.thunderdrive.bean.Connection" init-method="myInit" destroy-method="myDestroy">  
		<property name="url" value="jdbc:mysql://localhost/estoredb"></property>
		<property name="username" value="public1"></property>
		<property name="password" value="Public_pass1"></property>
    </bean>
	
	<!--  con1 and con2 are reference variable for the objects created and property will invoke setter method by Spring FW -->
    <!-- <bean id="con2" class="com.thunderdrive.bean.Connection">
		<property name="url" value="jdbc:mysql://localhost/estoredb"></property>
		<property name="username" value="admin"></property>
		<property name="password" value="thunderoov"></property>
    </bean> -->

    <!-- more bean definitions go here -->
	
	<!-- Just Create the object of PostProcessor -->
	<bean class="com.thunderdrive.bean.PostProcessor"/>
	
</beans>

